/* 
    GENERAL
*/
body {
    /* https://fonts.google.com/specimen/Prompt */
    font-family: 'Prompt', sans-serif;
}
.fw-500 {
    font-weight: 500;
}


/* 
    Top Metric Cards
*/
.top-card > div {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 9px;
    transition: ease 0.5s;
}
.top-card > div:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    transition: ease 0.5s;
}
.top-card-number {
    font-size: 62px;
    font-weight: bolder;
}
.top-card-description {
    font-size: 14px;
}


/* 
    Topics Accordion
*/
.topic-top-card > div {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 9px;
    min-height: 104px;
}
.accordion-button:not(.collapsed) {
    color: black !important;
    font-weight: 600;
}
.accordion-done-btn:not(.collapsed) {
    background-color: #56ff5c52 !important;
}
.accordion-done-btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(150, 255, 124, 0.25) !important;
}
.accordion-dead-btn:not(.collapsed) {
    background-color: #ff634752 !important;
}
.accordion-dead-btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 124 124 / 25%) !important;
}
.topic-tasks-number {
    font-weight: 600;
}
