{% extends 'base2.html' %}


{% block extra_head %}
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}


{% block main %}
<!-- Headline Text -->
<class class="row fw-500 fs-2 mt-3">
  <span class="ml-3">Metrics Overview</span>
</class>

<!-- Top Metric Cards-->
<div class="row mt-3 row-cols-1 row-cols-md-3">
    <div class="top-card col mb-4"><div class="px-4">
      <class class="row d-flex justify-content-center pt-3 text-center">
        <i class="bi bi-caret-right-square" style="font-size: 1.5rem; color:#407eff;"></i>
      </class>
      <class class="row d-flex justify-content-center">
        <span class="top-card-number text-center" id="top_active">?</span>
      </class>
      <class class="row pb-4 d-flex justify-content-center text-secondary">
        <span class="top-card-description text-center">Active</span>
      </class>
    </div></div>
    <div class="top-card col mb-4"><div class="px-4">
      <class class="row d-flex justify-content-center pt-3 text-center">
        <i class="bi bi-check-square" style="font-size: 1.5rem; color:lightgreen;"></i>
      </class>
      <class class="row d-flex justify-content-center">
        <span class="top-card-number text-center" id="top_done">?</span>
      </class>
      <class class="row pb-4 d-flex justify-content-center text-secondary">
        <span class="top-card-description text-center">Done</span>
      </class>
    </div></div>
    <div class="top-card col mb-4"><div class="px-4">
      <class class="row d-flex justify-content-center pt-3 text-center">
        <i class="bi bi-dash-square" style="font-size: 1.5rem; color:tomato;"></i>
      </class>
      <class class="row d-flex justify-content-center">
        <span class="top-card-number text-center" id="top_dead">?</span>
      </class>
      <class class="row pb-4 d-flex justify-content-center text-secondary">
        <span class="top-card-description text-center">Dead</span>
      </class>
    </div></div>

    <div class="top-card col mb-4"><div class="px-4">
      <class class="row d-flex justify-content-center pt-3 text-center">
        <i class="bi bi-list-nested" style="font-size: 1.5rem; color:#407eff;"></i>
      </class>
      <class class="row d-flex justify-content-center">
        <span class="top-card-number text-center" id="top_total">?</span>
      </class>
      <class class="row pb-4 d-flex justify-content-center text-secondary">
        <span class="top-card-description text-center">Total tasks</span>
      </class>
    </div></div>
    <div class="top-card col mb-4"><div class="px-4">
      <class class="row d-flex justify-content-center pt-3 text-center">
        <i class="bi bi-list-check" style="font-size: 1.5rem; color:lightgreen;"></i>
      </class>
      <class class="row d-flex justify-content-center">
        <span class="top-card-number text-center" id="top_processed">?</span>
      </class>
      <class class="row pb-4 d-flex justify-content-center text-secondary">
        <span class="top-card-description text-center">Processed tasks</span>
      </class>
    </div></div>
    <div class="top-card col mb-4"><div class="px-4">
      <class class="row d-flex justify-content-center pt-3 text-center">
        <i class="bi bi-list-ul" style="font-size: 1.5rem; color: gold;"></i>
      </class>
      <class class="row d-flex justify-content-center">
        <span class="top-card-number text-center" id="top_remainig">?</span>
      </class>
      <class class="row pb-4 d-flex justify-content-center text-secondary">
        <span class="top-card-description text-center">Queued tasks</span>
      </class>
    </div></div>
</div>

<!-- Topics Accordion -->
<div class="accordion mt-4" id="topics_accordion">
  <!-- Content forms JS dashboard -->
</div>
</div>
{% endblock %}


{% block extra_body %}
<!-- Local -->
<script src="{{ url_for('static', path='js/dashboard2.js') }}"></script>
{% endblock %}
